<div class="titles">
    <h1>Cotiza tu Seguro Automotriz</h1>
    <h4>¡Resultados instantáneos!</h4>
</div>

<div class="form-container">

    <div class="fields">
        
        <div class="input marca">
            <h6>Marca del auto</h6>
            <input placeholder="Marca del auto" type="text" class="input-field" >
        </div>
        <div class="input modelo">
            <h6>Modelo del auto</h6>
            <input placeholder="Modelo del auto" type="text" class="input-field" >
        </div>

        <div class="input anio">
            <h6>Año</h6>
            <input placeholder="Año" type="text" class="input-field" >
        </div>

        <div class="input email">
            <h6>Email</h6>
            <input placeholder="Email" type="text" class="input-field" >
        </div>

    </div>

    <div class="actions">
        <button class="action-button">Cotizar</button>
        <a class="link"> Recuperar cotización</a>
    </div>
</div>